/* ProductAll.css */
.container {
  width: 80vw;
  max-width: 1300px;
  margin: auto;
  /* border: 1px solid red; */
  margin-top: 30px;

}

.row {
  margin: auto;
  display: flex;
  flex-wrap: wrap; 
  gap: 1px; 
  justify-content: flex-start; 
}

.col {
  flex: 0 0 23%;
  box-sizing: border-box;
  margin: auto;
}

.no-products {
  text-align: center;
  padding: 50px 0;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-products h2 {
  color: #333;
  margin-bottom: 15px;
}

.no-products p {
  color: #666;
  font-size: 1.1rem;
}

.not-found-image {
  width: 40vw;
  max-width: 550px; /* 이미지 크기 조절, 필요에 따라 수정 */
  margin-bottom: 20px;
}

/* Mobile media query */
@media (max-width: 768px) {
  .row{
    flex-direction: column;
  }
  .col {
    flex: 0 0 100%;
    padding: 5px; 
  }
  .not-found-image {
    width: 70vw;
  }
}